rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /playlists/{docId} {
      //allow read and create for auth users 
      allow read, create: if request.auth != null
      // allow update and delete only when user is owner
      allow delete, update: if request.auth.uid == resource.data.uid
    }
  }
}